.recently-active{
  background-color: rgb(220, 252, 231);
  color: rgb(22, 101, 52);
  padding: 5px;
  width: 140px;
  text-align: center;
}

.custom-box-shadow {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid rgb(43, 63, 95);
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgb(43 63 95) 4px 4px 0px;
  margin: 15px 16.0987px 15px 0px;
}

$main: rgb(43, 63, 95);
$back: #f6f9fc;;

.pushme{
  position: relative;
  font-weight: 700;
  background-color: $main;
  border-radius: 0.6em;
  display: inline-block;
  margin: 1em;
  .inner{
    display: inline-block;
    color: rgb(43, 63, 95);
    background-color: $back;
    border-radius: 0.6em;
    border: 0.3em solid $main;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    transform: translate3d(0.6em, -0.6em, 0);
    transition: transform 240ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-delay: 220ms;
  }
  &:active, &.click{
    .inner{
      transform: translate3d(0, 0, 0);
      transition: transform 120ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
  }
}


// cover image for engineer and recruiter profile page
.cover {
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
