a, p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(43, 63, 95);
  text-decoration: none;
}

a{
  margin: 0 30px;
}

a:hover{
  color: rgb(23, 34, 52);
}

@media only screen and (max-width: 768px) {
  .privacy-terms {
    display: flex;
    flex-direction: column;
  }
}
