.profile-details{
  margin: 20px 150px;
  position: relative;
}


.profile-image{
  position: absolute;
    top: 130px;
    left: 20px;
    border: 4px solid white;
}

.info {
  padding: 10px 20px;
}

.card-text {
  white-space: pre-wrap;
}
