<div class="container">
  <div class="card mb-3 profile-details custom-box-shadow">
    <img src="assets/cover-unsplash.jpg" alt="Developers profile cover image" class="cover">
    <img src="https://www.w3schools.com/howto/img_avatar.png" width="100rem" height="100rem"
      class="rounded-circle mx-3 profile-image">
    <div class="card-body">
      <div class="row my-5">
          <section class="info">
            <div class="d-flex justify-content-between">
              <h3 class="card-title fw-bold">{{recruiter?.Company}}</h3>
              <div class="btns">
                <button class="btn btn-outline-dark" [routerLink]="['/business/update', recruiter?.ID]">Edit profile</button>
              </div>
            </div>
            <p class="card-title fw-bold">{{recruiter?.Firstname}} {{recruiter?.Lastname}}, {{recruiter?.Role}}</p>
            <p class="card-text border-top pt-2">{{recruiter?.Bio}}</p>
          </section>
      </div>
    </div>
  </div>

</div>
