.profile-details {
  margin: 80px 100px;
  position: relative;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info {
  padding: 10px 20px;
}

.card-text {
  white-space: pre-wrap;
}
