.wrapper{
  max-width: 64rem;
  margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.wrapper-item{
  position: relative;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 4rem;
padding-bottom: 4rem;
margin-left: auto;
margin-right: auto;
max-width: 80rem;

@media (min-width: 640px) {
  padding-left: 1.5rem;
padding-right: 1.5rem;
 }

@media (min-width: 1024px) {
  padding-left: 2rem;
padding-right: 2rem;
 }
}

.info{
  margin-left: auto;
margin-right: auto;
color: #6B7280;
max-width: 100ch;



@media (min-width: 1024px) {
  margin-top: 2rem;
 }
}

h1,h2,h3{
  color: rgb(17, 24, 39);
  font-weight: bold;
}
