button{
  background-color: #fff;
  padding: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid rgb(43, 63, 95);
  transition: all 0.3s ease-in-out 0s;
  margin-right: 30px;
  box-shadow: rgb(43 63 95) 4px 4px 0px;
}

button:hover{
  box-shadow: none;
}

.wrap{
  margin-top: 3rem;
  margin-bottom: 16rem;
}

h2{
  font-size: 1.7rem;
}

h3{
  color:#666b74;
  font-size: 1.25rem;
}

@media only screen and (max-width: 768px) {
  .role{
    display: block !important;
  }

  button {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
