<div class="container wrap">
  <h1 class="text-center my-4 fw-bold">What brings you to Angular talents?</h1>

<div class="d-flex justify-content-center role">
  <button routerLink="/engineers/form">
    <i class="bi bi-person-workspace fs-3"></i>
    <h2 class="fw-bold">I'm looking for work</h2>
    <h3>You're an Angular developer looking for your next gig.</h3>
  </button>
  <button routerLink="/business/form">
    <i class="bi bi-briefcase-fill fs-3"></i>
    <h2 class="fw-bold">I'm hiring developers</h2>
    <h3>
        You're a business looking to hire a freelance, <br>part-time, or full-time Angular developer.
    </h3>
  </button>
</div>

</div>
