<main class="m-auto">
  <div class="wrapper">
    <div class="wrapper-item">
      <div class="info">
        <h1 class="main-color fw-bold">About</h1>

        <p class="fw-bold">Welcome to Angular Talents! </p>
        <p>So happy to see you here!</p>
        <p>We're thrilled to introduce you to Angular Talents, the ultimate platform for Angular developers and
          companies
          looking to connect in a simple, friendly, and comfortable way.</p>
        <p>Registering with us is a breeze and takes just one minute of your time. We understand the value of your
          precious minutes and want to ensure that you can dive right into the exciting world of Angular development
          without any hassle.</p>
        <p>Imagine having access to a vibrant community of talented Angular developers all in one place. At
          Angulartalents, we've created a space where developers can showcase their skills, projects, and expertise,
          making it easier than ever for companies to discover and connect with the perfect fit for their projects and
          teams.</p>
        <p>We believe in the power of independent developers, especially during challenging times. No matter what
          obstacles you face, we're here to empower you every step of the way. We're committed to supporting you,
          providing the resources and opportunities you need to shine, and celebrating your successes.</p>
        <p>So why wait? Join us at Angulartalents and embark on an incredible journey where connecting with Angular
          developers and companies is a joyful experience. Let us be your guide in making meaningful connections,
          achieving your goals, and together, building extraordinary Angular solutions. We can't wait to welcome you to
          our friendly community!</p>

      </div>
    </div>
  </div>
</main>
