.margin-vertical {
  margin-top: 5rem;
  margin-bottom: 11rem;
}
.half {
  width: 50%;
}

.text-color {
  color: #00000094;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.text-color:hover {
  color: #000;
}

.input-group-append{
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .half{
    width: 90%;
  }
  .card-body{
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
}
