<ngx-loading-bar color="#b21616" [includeSpinner]="false" height="3px"></ngx-loading-bar>

<div class="container margin-vertical">
  <div class="row justify-content-center h-100">
    <div class="card half custom-box-shadow">
      <div class="card-body px-5">
        <div class="text-center">
          <h2 class="fw-semibold mb-4">Login to your account</h2>
        </div>
        <form [formGroup]="signinForm" (ngSubmit)="signin()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input id="exampleInputEmail1" type="email" id="email" required class="form-control"
              formControlName="email" name="email" />
            <p class="text-danger mt-1" *ngIf="signinForm.controls['email'].hasError('pattern')">E-mail must be valid</p>
            <p class="text-danger mt-1"
              *ngIf="signinForm.controls['email'].hasError('required') && signinForm.controls['email'].touched">
              E-mail is required
            </p>
          </div>
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <div class="mb-3 input-group">
            <input [type]="fieldTextType ? 'text' : 'password'" id="exampleInputPassword1" class="form-control"
              formControlName="password" name="password" minlength="8" />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i [ngClass]="{
                    'bi bi-eye-slash': !fieldTextType,
                    'bi bi-eye': fieldTextType
                  }" (click)="toggleFieldTextType()"></i>
                </span>
              </div>
            </div>
            <div>
              <p class="text-danger mt-1" *ngIf="signinForm.controls['password'].hasError('minlength')">
                Your password must be at least 8 characters long.
              </p>

              <p class="text-danger mt-1"
                *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched">
                Password is required
              </p>
            </div>
          <input type="submit" class="btn btn-dark w-100 my-4" value="Login" name="login">
          <p *ngIf="showError" class="text-danger text-center">
            Username or Password incorrect! try again.
          </p>
        </form>
      </div>
      <div class="card-footer bg-white text-right ">
        <!-- TODO -->
        <!-- <small><a routerLink="../forgot-password" class="text-color">Forgot Password</a></small> -->
        <small><a style="float:right" routerLink="/signup" class="text-color">New user? Click to signup </a></small>
      </div>
    </div>
  </div>
</div>
