<div class="container">
  <header class="header">
    <h1>
      The reverse job board for
    Angular <div class="words">
      <span></span>
      <span>developers</span>
      <span>magicians</span>
      <span>engineers</span>
      <span>masters</span>
      <span>talents</span>
      <span>wizards</span>
  </div>
    </h1>
    <p>Angular empowers independent developers available for their next gig.
      Stop scouring job boards and sit back as companies reach out to you first.</p>
      <!-- <button class="btn btn-dark mt-4" [routerLink]="[ '/role']">Get started</button> -->
      <div class="center"><a class="pushme" [routerLink]="[ '/role']"> <span class="inner">Get started</span></a></div>
  </header>

  <div class="row">
        <!-- List of engineers -->
        <div class="col-12">
          <main>
            <div class="engineer-wrapper" *ngFor="let engineer of engineers">
              <div class="item">
                <a href="#" class="engineer"
                  [routerLink]="['/engineers/details', engineer.id]">
                  <div class="flex-shrink-1">
                    <picture>
                      <img [src]="engineer.avatar" width="100rem" height="100rem"
                        class="rounded-circle mx-3 profile-image" />
                    </picture>
                  </div>

                  <div class="engineer-info">
                    <div class="engineer-info-header">
                      <h2>{{ engineer.hero }}</h2>
                      <div class="engineer-info-status d-flex align-items-center">
                        <div class="circle">
                          <div class="checkmark"></div>
                        </div>
                        <span *ngIf="engineer.searchStatus.activelylooking" class="mx-1">Actively looking</span>
                      </div>
                    </div>

                    <div class="recently-active">
                      <span>Recently active</span>
                    </div>

                    <div class="engineer-info-text">
                      {{ engineer.bio }}
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </main>
        </div>
        <!-- end of engineers -->
  </div>
</div>
