// @import "../../../styles/global/partials";

.custom-box-shadow {
  &:hover{
    box-shadow: none;
  }
}
.header{
  text-align: center;
  max-width: 768px;
    margin: 100px auto;
  h1{
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 600;
  }
  p{
    font-size: 21px;
    font-weight: 500;
    color: rgb(43, 63, 95);
    line-height: 28px;
    margin-top:1.25rem;
  }

  button {
    font-size: 20px;
    font-weight: 600;
  }
}

.container {
  padding:0;
}
.engineer{
  display: flex;
  text-decoration: none;
  // border: 1px solid;
  padding: 1.5rem;

  &:hover{
    // background-color: #f1f9ff;
    border-radius: 10px;
  }
  .engineer-info-header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h2{
      color:#1C2227;
    }
  }
  .recently-active{
    background-color: rgb(220, 252, 231);
    color: rgb(22, 101, 52);
    padding: 5px;
    width: 140px;
    text-align: center;
  }
  .engineer-info-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(43, 63, 95);
    padding-top: 15px;
  }

  .engineer-info-status span{
    color: rgb(43, 63, 95);
  }
}

.item {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid rgb(43, 63, 95);
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgb(43 63 95) 4px 4px 0px;
  margin: 15px 16.0987px 15px 0px;
}

.item:hover{
  box-shadow:none;
}


$primary: #8cc63e;
$checkmarkColor: white;
$size: 15px;
$checkmarkFat: 1px;

.circle {
  position: relative;
  background: $primary;
  border-radius: 50%;
  width: $size;
  height: $size;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%;
  top: 45%;
  height: calc($size/3);
  width: calc($size/6);
  border-bottom: $checkmarkFat solid $checkmarkColor;
  border-right: $checkmarkFat solid $checkmarkColor;
}

.words{
  overflow: hidden;
  height: 65px;
  display: inline-block;
  text-align: left;
  position: relative;
  top: 15px;
  span{
    display: block;
    height: 100%;
    color: #b21616;
    animation: spin_words 8s infinite;
  }
}

@keyframes spin_words{
  8%{
      transform: translateY(-112%);
  }
  16%{
      transform: translateY(-100%);
  }
  24%{
      transform: translateY(-212%);
  }
  32%{
      transform: translateY(-200%);
  }
  40%{
      transform: translateY(-312%);
  }
  48%{
      transform: translateY(-300%);
  }
  56%{
      transform: translateY(-412%);
  }
  64%{
      transform: translateY(-400%);
  }
  72%{
    transform: translateY(-512%);
}
80%{
  transform: translateY(-500%);
}
88%{
  transform: translateY(-612%);
}
100%{
  transform: translateY(-600%);
}

}

//animation for less words
// @keyframes spin_words{
//   10%{
//       transform: translateY(-112%);
//   }
//   20%{
//       transform: translateY(-100%);
//   }
//   30%{
//       transform: translateY(-212%);
//   }
//   40%{
//       transform: translateY(-200%);
//   }
//   50%{
//       transform: translateY(-312%);
//   }
//   60%{
//       transform: translateY(-300%);
//   }
//   70%{
//       transform: translateY(-412%);
//   }
//   80%{
//       transform: translateY(-400%);
//   }
//   90%{
//     transform: translateY(-512%);
// }
// 100%{
//   transform: translateY(-500%);
// }
// }

@media only screen and (max-width: 768px) {
  header {
    margin: 30px !important;
    padding: 0;
    h1{
      font-size: 3.40rem !important;
      .words{
        text-align: center;
      }
    }
  }

  .engineer-wrapper{
    margin: 20px;
    width: 90% !important;
  }

  .profile-image{
    width: 95px;
    height: 95px;
  }

  .engineer-info-status{
    display: none !important;
  }

  .engineer-info-header h2{
    width: 100%;
  }

  .item {
    margin: 0px !important;

    img {
      width: 100px;
      height: 100px;
    }

    h2{
      line-height: 1.1;
    font-size: 16px;
    font-weight: 600;
    }

    .engineer-info-status {
      display: none !important;
    }

    .engineer{
      padding: 1.5rem 0 0 0;
      margin-bottom: 15px;
    }
  }
  .col-12{
    padding: 0;
  }
}
