  .container-mod {
    max-width: 64rem
  }
  .desc-text {
    color: rgb(107 114 128);
    font-size: 14px;
    margin-left: 20px;
  }

  .desc-text-heading {
    color: rgb(107 114 128);
    font-size: 14px;
  }
  input[type="checkbox"]
  {
      vertical-align:middle;
  }

  .role-type{
    border-bottom: 1px solid #80808042;
    border-top: 1px solid #80808042;
    padding: 10px 0;
  }

  .search-status, .role-type, .role-level,  label {
    margin-left: 7px;
  }

  .role-type h3, .role-level h3{
    margin-bottom: 0;
    line-height: 1.25rem;
  }

  .personal-info label {
    margin-left: 0;
  }

  input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 4.5rem;
}

.coverImg {
  border-radius: 0.375rem;
  width: 100%;
  object-fit: cover;
  height: 160px;
  margin-top: 10px;
}

.url {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.url-prefix{
  padding: 8px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f9fafb;
    color: rgb(107 114 128);
}
