<div class="container py-4">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold header">Hire Angular developers</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Directly connect with hundreds of Angular developers looking for their
        next job.
      </p>
    </div>
  </div>

  <div class="px-5 mb-4 bg-light rounded-3 boxshadow">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-xs-12 col-lg-8">
          <h1 class="display-5 fs-2 fw-semibold">For your 1st hire and beyond</h1>
          <p class="fs-4 lh-sm">
            Skip the formal job postings and middlemen – hire directly from a
            candidate pool of Angular developers, from juniors to C-level.
          </p>
          <p class="fs-4 fw-semibold lh-sm mt-5 pb-2 border-bottom">
            Angular talent exclusives
          </p>




          <div class="row">
            <div class="col-xs-12 col-lg-6">
              <div class="d-flex gap-2">
                <i class="bi bi-check-circle-fill" style="color: green"></i>
                <p class="text-muted">Exclusively Angular developers</p>
              </div>

              <div class="d-flex gap-2">
                <i class="bi bi-check-circle-fill" style="color: green"></i>
                <p class="text-muted">Hand-selected matches every month</p>
              </div>

              <div class="d-flex gap-2">
                <i class="bi bi-check-circle-fill" style="color: green"></i>
                <p class="text-muted">Email and video support from the founder</p>
              </div>
            </div>

            <div class="col-xs-12 col-lg-6">
              <div class="d-flex gap-2">
                <i class="bi bi-check-circle-fill" style="color: green"></i>
                <p class="text-muted">Message directly with developers</p>
              </div>

              <div class="d-flex gap-2">
                <i class="bi bi-check-circle-fill" style="color: green"></i>
                <p class="text-muted">Email updates of new candidates</p>
              </div>

              <div class="d-flex gap-2">
                <i class="bi bi-check-circle-fill" style="color: green"></i>
                <p class="text-muted">Support independent developers and OSS</p>
              </div>
            </div>
          </div>

        </div>


        <div class="col-xs-12 col-lg-4 my-5 d-flex flex-column align-items-center justify-content-center">
          <h3 class="fw-bold"><span class="price-heading">$299</span> /month</h3>
          <a href="#" class="text-muted mb-3">+ 10% first year salary</a>
          <button class="btn btn-success">Get started today</button>
        </div>

      </div>
    </div>
  </div>


  <article>
    <div class="platform">
      <h1 >The Rails-only hiring platform
      </h1>
      <p>Organic, genuine conversations with higher response rates than LinkedIn or cold email.
      </p>

      <div class="stats">
        <div class="stats-item mx-2">
          <h2>900+</h2>
          <p>Angular developers</p>
        </div>
        <div class="stats-item mx-2">
          <h2>60%</h2>
          <p>Response rate</p>
        </div>
        <div class="stats-item mx-2">
          <h2>60+</h2>
          <p>New developers a month</p>
        </div>
      </div>
    </div>
  </article>


</div>
