<section class="heading">
  <div class="container py-4">
    <div class="px-4 pt-5 mt-5 pb-5 text-center">
      <h1 class="fw-bold header">Hire Angular developers</h1>
      <div class="col-lg-6 w-100">
        <p class="lead mb-4">
          Directly connect with hundreds of Angular developers looking for their
          next job.
        </p>
      </div>
    </div>

    <div class="px-5 mb-5 rounded-3 boxshadow bg-white">
      <div class="container-fluid py-5">
        <div class="row">
          <div class="col-xs-12 col-lg-8">
            <h1 class="display-5 fs-2 fw-semibold">
              For your 1st hire and beyond
            </h1>
            <p class="fs-5 lh-sm">
              Skip the formal job postings and middlemen – hire directly from a
              candidate pool of Angular developers, from juniors to C-level.
            </p>
            <p class="fs-4 fw-semibold lh-sm mt-5 pb-2 border-bottom">
              Angular talent exclusives
            </p>

            <div class="row">
              <div class="col-xs-12 col-lg-6">
                <div class="d-flex gap-2">
                  <i class="bi bi-check-circle-fill" style="color: green"></i>
                  <p class="text-muted">Exclusively Angular developers</p>
                </div>

                <div class="d-flex gap-2">
                  <i class="bi bi-check-circle-fill" style="color: green"></i>
                  <p class="text-muted">Hand-selected matches every month</p>
                </div>

                <div class="d-flex gap-2">
                  <i class="bi bi-check-circle-fill" style="color: green"></i>
                  <p class="text-muted">
                    Email and video support from the founder
                  </p>
                </div>
              </div>

              <div class="col-xs-12 col-lg-6">
                <div class="d-flex gap-2">
                  <i class="bi bi-check-circle-fill" style="color: green"></i>
                  <p class="text-muted">Message directly with developers</p>
                </div>

                <div class="d-flex gap-2">
                  <i class="bi bi-check-circle-fill" style="color: green"></i>
                  <p class="text-muted">Email updates of new candidates</p>
                </div>

                <div class="d-flex gap-2">
                  <i class="bi bi-check-circle-fill" style="color: green"></i>
                  <p class="text-muted">Support independent developers and OSS</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-lg-4 my-5 d-flex flex-column align-items-center justify-content-center">
            <h3 class="fw-bold">
              <span class="price-heading">$299</span> /month
            </h3>
            <a href="#" class="text-muted mb-3">+ 10% first year salary</a>
            <button class="btn btn-success">Get started today</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="platform">
  <div class="container">
    <h1>The Rails-only hiring platform</h1>
    <p>
      Organic, genuine conversations with higher response rates than LinkedIn or
      cold email.
    </p>

    <div class="stats">
      <div class="stats-item mx-2 boxshadow">
        <h2>900+</h2>
        <p>Angular developers</p>
      </div>
      <div class="stats-item mx-2 boxshadow">
        <h2>60%</h2>
        <p>Response rate</p>
      </div>
      <div class="stats-item mx-2 boxshadow">
        <h2>60+</h2>
        <p>New developers a month</p>
      </div>
    </div>
  </div>
</section>

<section class="reviews bg-white">
  <div class="container d-flex py-5">
    <div class="reviews-item mx-4 my-2">
      <div class="reviews-item_info d-flex">
        <img src="https://www.w3schools.com/howto/img_avatar.png" width="50rem" height="50rem" class="rounded-circle"
          alt="img" />
        <div class="reviews-item_info-right mt-2 mx-2">
          <span class="fw-semibold">Sergey Brin</span>
          <p>CEO, Google</p>
        </div>
      </div>
      <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
      </div>

      <span>It's like the convenience of working with a recruiter but half the placement fee.</span>
    </div>


    <div class="reviews-item mx-4 my-2">
      <div class="reviews-item_info d-flex">
        <img src="https://www.w3schools.com/howto/img_avatar.png" width="50rem" height="50rem" class="rounded-circle"
          alt="img" />
        <div class="reviews-item_info-right mt-2 mx-2">
          <span class="fw-semibold">Sergey Brin</span>
          <p>CEO, Google</p>
        </div>
      </div>
      <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
      </div>

      <span>It's like the convenience of working with a recruiter but half the placement fee.</span>
    </div>


    <div class="reviews-item mx-4 my-2">
      <div class="reviews-item_info d-flex">
        <img src="https://www.w3schools.com/howto/img_avatar.png" width="50rem" height="50rem" class="rounded-circle"
          alt="img" />
        <div class="reviews-item_info-right mt-2 mx-2">
          <span class="fw-semibold">Sergey Brin</span>
          <p>CEO, Google</p>
        </div>
      </div>
      <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" title="Star" class="rating-star text-yellow-500" viewBox="0 0 20 20"
          fill="currentColor">
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
      </div>

      <span>It's like the convenience of working with a recruiter but half the placement fee.</span>
    </div>
  </div>
</section>


<section class="accordions">
  <div class="container py-5">
    <h1 class="fs-4 fw-semibold border-bottom pb-2">Frequently asked questions</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Does AngularTalent cost anything for developers?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <span>No. AngularTalent is free for developers. </span>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionExample3">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
            aria-expanded="false" aria-controls="collapse3">
            How does the 10% hiring fee work?

          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
          data-bs-parent="#accordionExample3">
          <div class="accordion-body">
            <span>If you hire a full-time employee through AngularTalent you agree to pay a placement fee equal to 10%
              of their salary. Read the full hiring agreement for more details.

            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionExample4">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
            aria-expanded="false" aria-controls="collapse4">
            Can I pay annually or yearly?
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
          data-bs-parent="#accordionExample4">
          <div class="accordion-body">
            <span>Yes. Email us to set up discounted annual billing at hello@angulartalent.com. </span>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionExample5">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading5">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
            aria-expanded="false" aria-controls="collapse5">
            Can I cancel my subscription at any time?
          </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
          data-bs-parent="#accordionExample5">
          <div class="accordion-body">
            <span>Yes. You can cancel your subscription from the Billing link in the user drop-down. You will lose
              access to all paid features at the end of your billing period.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionExample6">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading6">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
            aria-expanded="false" aria-controls="collapse6">
            Who can I contact for more specific questions?
          </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
          data-bs-parent="#accordionExample6">
          <div class="accordion-body">
            <span>Email the AngularTalent team! – with any questions. You can reach me at hello@angulartalent.com.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center my-5"><button class="btn btn-dark fs-4">Get started today!</button></div>
  </div>
</section>
