.profile-details{
  margin: 80px 100px;
  position: relative;
  background-color: rgb(255, 255, 255);
border-radius: 10px;
border: 3px solid rgb(43, 63, 95) ;
transition: all 0.3s ease-in-out 0s;
box-shadow: rgb(43, 63, 95) 4px 4px 0px;
}

.role-types-wrap, .role-levels-wrap, .country {
  padding-top: 10px;

  .role-types{
  padding-top: 10px;
  }
}

.roles-header {
  font-size: 14px;
  font-weight: 500;
  color: rgb(107 114 128);
}

$primary: #8cc63e;
$checkmarkColor: white;
$size: 15px;
$checkmarkFat: 1px;


.circle {
  position: relative;
  background: $primary;
  border-radius: 50%;
  width: $size;
  height: $size;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%;
  top: 45%;
  height: calc($size/3);
  width: calc($size/6);
  border-bottom: $checkmarkFat solid $checkmarkColor;
  border-right: $checkmarkFat solid $checkmarkColor;
}

.profile-image{
  position: absolute;
    top: 130px;
    left: 20px;
    border: 4px solid white;
}

.hireme{
  position: absolute;
    top: 161px;
    left: 150px;
    background-color: #f15656;
    color: white;
    padding: 8px;
    font-weight: 500;
    box-shadow: 5px 6px 0px -1px rgb(0 0 0 / 62%);
    cursor: pointer;
}

.info {
  padding: 10px 20px;
}

span, .info{
  font-weight: 500;
  color: rgb(43, 63, 95);
  h1{
    color: rgb(23 34 52);
    font-weight: bold;
  }
}

.checkboxes {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .profile-details{
    margin: 0;
    border-radius: none;
    border:none;
    box-shadow: none;
  }

  .container{
    padding: 0;
  }

  .checkboxes{
    margin: 20px;
  }
}


.priv{
  margin-left: 3px;
}

.bi-unlock-fill{
  display: none;
}

.private-info {
  border-radius: 15px;
  border: 1px dashed #dee2e6;
  width: 30%;
  text-align: center;
  background-color: rgb(249, 250, 251);

}

.private-info:hover{
  cursor: pointer;
  border-color: #a7a8aa;
  .bi-unlock-fill{
    display: inline
  }
  .bi-lock-fill{
    display: none;
  }
}

.private-info-right{
  border-radius: 15px;
  border: 3px dashed #dee2e6;
  color: rgb(107, 114, 128);
  text-align: center;
  padding: 30px;
  width: 300px;
  margin: 20px 0;
  background-color: rgb(249, 250, 251);
  h2{
    color: rgb(43, 63, 95);
  }
}

.bi-unlock{
  display: none;
}
.private-info-right:hover{
  cursor: pointer;
  border-color: #c4c5c7;
  .bi-unlock{
    display: inline
  }
  .bi-lock{
    display: none;
  }
}

.private-info-unlocked {
  h3,
  a {
    color: rgb(43, 63, 95);
    text-decoration: none;
    margin-bottom: 5px;
  }

  li {
    margin-bottom: 5px;
  }

  .bi {
    margin-right: 5px;
    color: rgb(117, 115, 115)
  }

  a:hover{
    color: rgb(75, 108, 160);
    // text-decoration: underline;
  }
}
