.profile-details{
  margin: 80px 100px;
  position: relative;
}

.role-types-wrap, .role-levels-wrap, .country {
  padding-top: 10px;

  .role-types{
  padding-top: 10px;
  }
}

.roles-header {
  font-size: 14px;
  font-weight: 500;
  color: rgb(107 114 128);
}

.profile-image{
  position: absolute;
    top: 185px;
    left: 20px;
    border: 4px solid white;
}

.marginRight {
  margin-right: 10px;
}

.info {
  padding: 10px 20px;
}

span, .info{
  font-weight: 500;
  color: rgb(43, 63, 95);
  h1{
    color: rgb(23 34 52);
    font-weight: bold;
  }
}

.checkboxes {
  margin-right: 30px;

  svg{
    margin-bottom: 2px;
    margin-right: 5px;
  }
}

ul.list-unstyled li a svg{
  margin-bottom: 2px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .profile-details{
    margin: 0;
    border-radius: none;
    border:none;
    box-shadow: none;
  }

  .private-info{
    width: 100%;
  }

  .container{
    padding: 0;
  }

  .checkboxes{
    margin: 20px;
  }
}



.private-info-right{
  border-radius: 15px;
  border: 3px dashed #dee2e6;
  color: rgb(107, 114, 128);
  text-align: center;
  padding: 10px;
  width: 300px;
  margin: 20px 0;
  background-color: rgb(249, 250, 251);
  h2{
    color: rgb(43, 63, 95);
  }
}

.bi-unlock{
  display: none;
}
.private-info-right:hover{
  cursor: pointer;
  border-color: #c4c5c7;
  .bi-unlock{
    display: inline
  }
  .bi-lock{
    display: none;
  }
}

.private-info-unlocked {
  h3,
  a {
    color: rgb(43, 63, 95);
    text-decoration: none;
    margin-bottom: 5px;
  }

  li {
    margin-bottom: 5px;
  }

  .bi {
    margin-right: 5px;
    color: rgb(117, 115, 115)
  }

  a:hover{
    color: rgb(75, 108, 160);
    // text-decoration: underline;
  }
}

.card-text {
  white-space: pre-wrap;
}

.btns button{
  width: 130px;
}
