<div class="container">
  <div class="card profile-details">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img"
      aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
        cap</text>
    </svg>
    <img src="https://www.w3schools.com/howto/img_avatar.png" width="100rem" height="100rem"
      class="rounded-circle mx-3 profile-image">
      <div class="card-body">
        <div class="row my-5">
          <div class="col-xs-12 col-lg-8">
          <section class="info">
            <div class="d-flex justify-content-between">
              <h3 class="card-title fw-bold">{{engineer?.Tagline}}</h3>
              <div class="btns">
                <button *ngIf="!userIsMe" [routerLink]="['/pricing']" class="btn btn-outline-dark marginRight"><i class="bi bi-pencil-fill"></i>&nbsp;Hire me</button>
                <button *ngIf="userIsMe" [routerLink]="['/engineers/update', engineer.ID]" class="btn btn-outline-dark"><i class="bi bi-wallet-fill"></i>&nbsp;Edit profile</button>
              </div>
            </div>
            <ng-container *ngIf="recruiterIsMember || userIsMe; else name">
              <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                </svg>
                <p class="card-title mt-2 mx-1">{{engineer?.Firstname}} {{engineer?.Lastname}}</p>
              </div>
            </ng-container>

            <ng-template #name>
              <div class="private-info p-2 mb-2" [routerLink]="[ '/pricing' ]">
                <i class="bi bi-lock-fill"></i>
                <i class="bi bi-unlock-fill"></i>
                <span class="priv">Private information</span>
              </div>
            </ng-template>


            <p class="card-text mt-4 pt-3 border-top border-1">{{engineer?.Bio}}</p>

          </section>
        </div>
        <div class="col-xs-12 col-lg-4">
          <section class="checkboxes" *ngIf="engineer?.SearchStatus">
            <div class="d-flex align-items-center search-status border-bottom pb-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
              <span [ngSwitch]="engineer?.SearchStatus">
                <span *ngSwitchCase="'actively_looking'" class="mx-1">
                  Actively looking
                </span>
                <span *ngSwitchCase="'open'" class="mx-1">
                  Open
                </span>
                <span *ngSwitchCase="'not_interested'" class="mx-1">
                  Not interested
                </span>
                <span *ngSwitchCase="'invisible'" class="mx-1">
                  Invisible
                </span>
                <span *ngSwitchDefault>

                </span>
              </span>
            </div>

            <div class="role-types-wrap border-bottom pb-3">
              <span class="roles-header">Interested in roles</span>
              <div class="d-flex align-items-center role-types" *ngFor="let roleType of engineer?.RoleType">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <span [ngSwitch]="roleType">
                  <span class="mx-1" *ngSwitchCase="'contract_part_time'">
                    Part-time
                  </span>
                  <span class="mx-1" *ngSwitchCase="'contract_full_time'">
                    Full-time contract
                  </span>
                  <span class="mx-1" *ngSwitchCase="'employee_part_time'">
                    Part-time emplpoyment
                  </span>
                  <span class="mx-1" *ngSwitchCase="'employee_full_time'">
                    Full-time emplpoyment
                  </span>
                  <span class="mx-1" *ngSwitchDefault>

                  </span>
                </span>
              </div>
            </div>

            <div class="role-levels-wrap border-bottom pb-3">
              <span class="roles-header">Interested in roles</span>
              <div class="d-flex align-items-center role-types" *ngFor="let roleLevel of engineer?.RoleLevel">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <span [ngSwitch]="roleLevel">
                  <span class="mx-1" *ngSwitchCase="'junior'">
                    Junior
                  </span>
                  <span class="mx-1" *ngSwitchCase="'mid_level'">
                    Middle
                  </span>
                  <span class="mx-1" *ngSwitchCase="'senior'">
                    Senior
                  </span>
                  <span class="mx-1" *ngSwitchCase="'principal_staff'">
                    Principal/Staff
                  </span>
                  <span class="mx-1" *ngSwitchCase="'c_level'">
                    C-Level
                  </span>
                  <span class="mx-1" *ngSwitchDefault>

                  </span>
                </span>
              </div>
            </div>

            <ng-container *ngIf="recruiterIsMember || userIsMe; else elseTemplate">
              <div class="private-info-unlocked pt-2">


                <ul class="list-unstyled pb-0">
                  <li><a href={{engineer?.Website}} target="_blank"><i class="bi bi-globe"></i>Website</a></li>
                  <li><a href={{engineer?.Github}} target="_blank"><i class="bi bi-github"></i>Github</a></li>
                  <li><a href={{engineer?.Twitter}} target="_blank"><i class="bi bi-twitter"></i>Twitter</a></li>
                  <li><a href={{engineer?.LinkedIn}} target="_blank"><i class="bi bi-linkedin"></i>LinkedIn</a></li>
                  <li><a href={{engineer?.StackOverflow}} target="_blank"><i class="bi bi-stack-overflow"></i>Stack-overflow</a></li>
                </ul>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="private-info-right" [routerLink]="[ '/pricing' ]">
                <i class="bi bi-lock fs-3"></i>
                <i class="bi bi-unlock fs-3"></i>
                <p class="fw-bold">Private information</p>
                <p>Information that is only visible <br> with a business subscription.</p>
              </div>
            </ng-template>



            <div class="country border-top">
              <i class="bi bi-geo-alt-fill"></i>
              <span class="mx-1">{{engineer?.City}}, {{engineer?.Country}}</span>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

</div>
