*{
  font-weight: 500;
  color: rgb(43, 63, 95);
}
.container-mod {
  max-width: 64rem
}
.desc-text {
  font-weight: 500;
  color: rgb(43, 63, 95);
  font-size: 14px;
  margin-left: 20px;
}

.desc-text-heading {
  font-weight: 500;
  color: rgb(43, 63, 95);
  font-size: 14px;
}
input[type="checkbox"]
{
    vertical-align:middle;
}

.search-status, .role-type, .role-level,  label {
  margin-left: 7px;
}

.role-type h3, .role-level h3{
  margin-bottom: 0;
  line-height: 1.25rem;
}

.personal-info label {
  margin-left: 0;
}

input[type="file"] {
  display: none;
}

.coverImg {
border-radius: 0.375rem;
width: 100%;
object-fit: cover;
height: 160px;
margin-top: 10px;
}

h2{
  color: rgb(33,37,41);
  font-weight: bold;
}

button{
  color: #fff;
}
