.container {
  padding:0;
}
.engineer{
  display: flex;
  text-decoration: none;
  // border: 1px solid;
  padding: 1.5rem;

  &:hover{
    // background-color: #f1f9ff;
    border-radius: 10px;
  }
  .engineer-info-header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    h2{
      color:#1C2227;
    }
  }
  .recently-active{
    background-color: rgb(220, 252, 231);
    color: rgb(22, 101, 52);
    padding: 5px;
    width: 140px;
    text-align: center;
  }
  .engineer-info-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(43, 63, 95);
    padding: 15px 0;
  }

  .engineer-info-status span{
    color: #355111;
  }
}
$primary: #8cc63e;
$checkmarkColor: white;
$size: 15px;
$checkmarkFat: 1px;

.circle {
  position: relative;
  background: $primary;
  border-radius: 50%;
  width: $size;
  height: $size;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%;
  top: 45%;
  height: calc($size/3);
  width: calc($size/6);
  border-bottom: $checkmarkFat solid $checkmarkColor;
  border-right: $checkmarkFat solid $checkmarkColor;
}

header{
  padding: 40px 20px 20px 0px;
}

article{
  font-size: 21px;
  font-weight: 500;
  color: rgb(43, 63, 95);
  line-height: 28px;
}

.accordion{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid rgb(43, 63, 95);
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgb(43 63 95) 4px 4px 0px;
  margin: 15px 0 15px 0px;

  .form-check-label{
  color: rgb(43, 63, 95);

  }
}

.accordion-button:focus{
  border-color: none;
  box-shadow: none;
}

.accordion-button {
  background: none !important;
  color: rgb(55 65 81);
  font-weight: 700;
  padding-bottom: 0;
}

.accordion-button.collapsed {
  background: none !important;
}

.accordion-button:not(.collapsed){
  box-shadow: none;
}

// .accordion-button.collapsed::after {
//   background-color: none !important;
// }
// .accordion-item:first-of-type{
//   border-top: none !important;
// }

// #noBorders{
//   border-top-left-radius: none !important;
//   border-top-right-radius: none !important;

// }
// .accordion-item:first-of-type .accordion-button {
//   border-top-left-radius: none !important;
//   border-top-right-radius: none !important;
// }

// .accordion-item{
//   border-left: none;
// }

.accordion-item{
  border:none;
}

.accordion-header {
  margin: 0;
}

.col-3 {
  padding-right: 0;
}
.col-9 {
  padding-left: 0;
}

.item {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid rgb(43, 63, 95);
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgb(43 63 95) 4px 4px 0px;
  margin: 15px 16.0987px 15px 0px;
}

.item:hover{
  box-shadow:none;
}

main {
  margin-left: 20px;
}

.borderbtm {
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.accordion-item:first-of-type {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */

  header {
    margin: 30px;
    padding: 0;
  }

  .head {
    display: block !important;
  }
  .accordion{
    width: 85%;
    margin: auto;
  }

  .item {
    width: 90%;
    margin: 10px;

    img {
      width: 100px;
      height: 100px;
    }

    h2{
      line-height: 1.1;
    font-size: 16px;
    font-weight: 600;
    }

    .engineer-info-status {
      display: none !important;
    }

    .engineer{
      padding: 1.5rem 0 0 0;
      margin-bottom: 15px;
    }
  }
}

.engineer-wrapper{
  position: relative;
}

.blur-block{
  position: absolute;
  top: 1765px;
  padding: 156px 190px;
  backdrop-filter: blur(4px);

  .blur-block-wrap{
    border-radius: 10px;
    border: 3px solid rgb(43, 63, 95);
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgb(43, 63, 95) 4px 4px 0px;
    text-align: center;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;

    h1{
      color: #1C2227;
    font-size: 32px;
    font-weight: 600;
    }
    p{
      font-size: 16px;
      color: rgb(43, 63, 95);
    }
  }
}

.x {
  display: none !important;
}
