@import '../../../../../styles/global/partials';

.container {
  padding:0;
}

.engineer{
  display: flex;
  text-decoration: none;
  // border: 1px solid;
  padding: 1.5rem;

  &:hover{
    // background-color: #f1f9ff;
    border-radius: 10px;
  }


  .engineer-info-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(43, 63, 95);
    padding-top: 15px;
  }

  .engineer-info-status span{
    color: rgb(43, 63, 95);
  }
}

header{
  padding: 40px 20px 20px 0px;
}

article{
  font-size: 21px;
  font-weight: 500;
  color: rgb(43, 63, 95);
  line-height: 28px;
}


  .form-check-label{
  color: rgb(43, 63, 95);
  }

.accordion-button:focus{
  border-color: none;
  box-shadow: none;
}

.accordion-button {
  background: none !important;
  color: rgb(55 65 81);
  font-weight: 700;
  padding-bottom: 0;
}

.accordion-button.collapsed {
  background: none !important;
}

.accordion-button:not(.collapsed){
  box-shadow: none;
}

// .accordion-button.collapsed::after {
//   background-color: none !important;
// }
// .accordion-item:first-of-type{
//   border-top: none !important;
// }

// #noBorders{
//   border-top-left-radius: none !important;
//   border-top-right-radius: none !important;

// }
// .accordion-item:first-of-type .accordion-button {
//   border-top-left-radius: none !important;
//   border-top-right-radius: none !important;
// }

// .accordion-item{
//   border-left: none;
// }

.accordion-item{
  border:none;
}

.accordion-header {
  margin: 0;
}

.col-3 {
  padding-right: 0;
}
.col-9 {
  padding-left: 0;
}



.engineer-wrapper .custom-box-shadow:hover{
  box-shadow:none;
}

main {
  margin-left: 20px;
}

.borderbtm {
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.accordion-item:first-of-type {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */

  header {
    margin: 30px;
    padding: 0;
  }

  .head {
    display: block !important;
  }
  .accordion{
    width: 85%;
    margin: auto;
  }

  .item {
    width: 90%;
    margin: 10px;

    img {
      width: 100px;
      height: 100px;
    }

    h2{
      line-height: 1.1;
    font-size: 16px;
    font-weight: 600;
    }

    .engineer-info-status {
      display: none !important;
    }

    .engineer{
      padding: 1.5rem 0 0 0;
      margin-bottom: 15px;
    }
  }
}

.engineer-wrapper{
  position: relative;
}

.blur-block{
  position: absolute;
  top: 1765px;
  padding: 156px 190px;
  backdrop-filter: blur(4px);

  .blur-block-wrap{
    border-radius: 10px;
    border: 3px solid rgb(43, 63, 95);
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgb(43, 63, 95) 4px 4px 0px;
    text-align: center;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;

    h1{
      color: #1C2227;
    font-size: 32px;
    font-weight: 600;
    }
    p{
      font-size: 16px;
      color: rgb(43, 63, 95);
    }
  }
}

.x {
  display: none !important;
}


.pong-loader {
  // position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  height: 40px;
  width: 6px;
  background-color: #fff;
  animation: paddles 0.75s ease-out infinite;
  transform: translate3d(0,0,0);

  &:before {
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    animation: ballbounce 0.6s ease-out infinite;
  }
}

@keyframes paddles {
  0% {
    box-shadow: -25px -10px 0px #000, 25px 10px 0px #000;
  }
  50% {
    box-shadow: -25px 8px 0px #000, 25px -10px 0px #000;
  }
  100% {
    box-shadow: -25px -10px 0px #000, 25px 10px 0px #000;
  }
}

@keyframes ballbounce {
  0%{
    transform: translateX(-20px) scale(1,1.2);
  }
  25%{
    transform: scale(1.2,1);
  }
  50% {
    transform: translateX(15px) scale(1,1.2);
  }
  75% {
    transform: scale(1.2,1);
  }
  100% {
    transform: translateX(-20px);
  }
}

.loader{
  height: 70vh;
  display: flex;
  align-items: center;
}
